@import '../../_rotate-button';

.list {

  $self: &;

  margin-bottom: 10%;

  &__delete-icon {
    width: 1.3vw;
    opacity: 0;
  }

    li {
      display: flex;
      align-items: center;
      padding: 2% 10%;
      cursor: pointer;
      margin-bottom: 1%;

      &:hover #{$self}__delete-icon {
        opacity: 0.3
      }

      #{$self}__delete-icon {
        opacity: 0;

        &:hover {
          opacity: 0.7;
        }
      }

      span {
        flex: 1;
        /* text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap; */
      }

      &:hover {
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 1px 2px #555555;
      border-radius: 2%;
      }

      &.active {
      background: #ebebeb;
      box-shadow: 0px 1px 5px #555555;
      border-radius: 2%;
      }
    }

    i {
      margin-right: 10%;
      display: inline-flex;
    }

    &__add-button {
      opacity: 0.4;

      &:hover {
        opacity: 1;

        i { 
          @include rotate-button();
         }
        }
      }
    }

.tasks__count {
  margin-left: 2%;
}