@import './media.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h3 {
  opacity: 0.3;
  font-size: 3em;
}

.todo {

  display: flex;
  max-height: 100vh;

  &-sidebar {
    background-color: #c8c7c7;
    width: 30%;
    border-right: 1px solid #9f9e9e;
    padding: 3%;
    font-size: 2vw;
    max-height: 100vh;
  }

  &-tasks {
    flex: 1;
    padding: 2vw 4vw;
    overflow: auto;
  }
}

.field {
  border: none;
  padding: 5%;
  box-sizing: border-box;
  border-radius: 2%;
  box-shadow: 0px 1px 1px #555555;
  border-radius: 2%;
  box-sizing: border-box;
  width: 100%;

  &:focus {
    box-shadow: 0px 1px 3px #414141;
  }
}

.button {
  background: #ff7de0;
  color: #fff;
  border: 0;
  border-radius: 2%;
  padding: 5% 10%;
  transition: 0.1s;
  cursor: pointer;
  width: 30vw;

  &:hover {
    background: darken(#ff7de0, 5%);
  }

  &:disabled {
    background: #b1b1b1;
  }

  &:active {
    background: darken(#ff7de0, 7%);
  }
}